<div class="add-book">
<p>new-book works!</p>

<form action="">
    <div class="form-group">
        <label for="title">*Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" >
    </div>
    <div class="form-group">
        <label for="author">*Author</label>
        <input  type="text" class="form-control" id="author" placeholder="Author">
    </div>
    <div class="form-group">
        <label for="description">*Description</label>
        <input  type="text" class="form-control" id="description" placeholder="Description"> 
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="form-group">
                <label for="dateStart">Date start</label>
                <input type="date" class="form-control" id="dateStart" placeholder="Date start" >
            </div>

        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="form-group">
                <label for="dateEnd">Date read</label>
                <input type="date" class="form-control" id="dateEnd" placeholder="Date read" >
            </div>

        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="form-group">
                <label for="Rate">Rating</label>
                <input  type="number" class="form-control" min="0" max="5" id="rate" placeholder="Rating">
            </div>

        </div>
    </div>

</form>
</div>